@font-face {
    font-family: 'VT323-Regular';
    src: url('../fonts/VT323-Regular.ttf');
}

@font-face {
    font-family: 'Kavoon-Regular';
    src: url('../fonts/Kavoon-Regular.ttf');
}

@font-face {
    font-family: 'Michroma-Regular';
    src: url('../fonts/Michroma-Regular.ttf');
}
@font-face {
    font-family: 'Staatliches-Regular';
    src: url('../fonts/Staatliches-Regular.ttf');
}
body {
    padding: 0;
    margin: 0;
    font-family: Michroma-Regular, sans-serif;
    cursor: url('../fonts/windows 95.cur'), auto;
}

img {
    width: 100%;
}

h1,
h2,
h3{
    font-family: Staatliches-Regular, sans-serif;
    text-transform: uppercase;
    background-color:#0090f8;
    color:white;
    padding: 7px;
    text-align: justify;
    display: inline-block;  
    letter-spacing: 0px;
    word-spacing: -1px;
}

.docimg {
    width: 50%;  
    margin-bottom: 1.5em;   
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    color: #fe098e;
    cursor: url('../fonts/Cursor_15.cur'), auto;
}

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background: none;
}
  
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-button {
    width: 16px;
    height: 16px;
    background: silver;
    box-shadow: inset 1px 1px #dfdfdf, inset -1px -1px gray;
    border: 1px solid;
    border-color: silver #000 #000 silver;
}
  
 ::-webkit-scrollbar-track {
    image-rendering: optimizeSpeed;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAyIDIiIHNoYXBlLXJlbmRlcmluZz0iY3Jpc3BFZGdlcyI+CjxtZXRhZGF0YT5NYWRlIHdpdGggUGl4ZWxzIHRvIFN2ZyBodHRwczovL2NvZGVwZW4uaW8vc2hzaGF3L3Blbi9YYnh2Tmo8L21ldGFkYXRhPgo8cGF0aCBzdHJva2U9IiNjMGMwYzAiIGQ9Ik0wIDBoMU0xIDFoMSIgLz4KPC9zdmc+");
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 2px;
}
  
::-webkit-scrollbar-button {
    background-repeat: no-repeat;
    background-size: 16px;
}
  
::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTcgNWgxTTYgNmgzTTUgN2g1TTQgOGg3IiAvPgo8L3N2Zz4=");
}
  
::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTQgNWg3TTUgNmg1TTYgN2gzTTcgOGgxIiAvPgo8L3N2Zz4=");
}
  
::-webkit-scrollbar-button:single-button:horizontal:decrement {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTggM2gxTTcgNGgyTTYgNWgzTTUgNmg0TTYgN2gzTTcgOGgyTTggOWgxIiAvPgo8L3N2Zz4=");
}
  
::-webkit-scrollbar-button:single-button:horizontal:increment {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTYgM2gxTTYgNGgyTTYgNWgzTTYgNmg0TTYgN2gzTTYgOGgyTTYgOWgxIiAvPgo8L3N2Zz4=");
}
  
::-webkit-scrollbar-corner {
    background: silver;
}

#first_block {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../img/pink.jpg');
    background-repeat: repeat;
    background-size: cover;
}

#first_block h1 {
    box-shadow: 5px 5px #000,
    0 0 0 2px black;
    text-shadow: 5px 0 1px #000, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
    color: #fe098e;
    background-color: #fef209;
    font-family: Kavoon-Regular, sans-serif;
    font-size: 400%
}
#first_block h5 {
    position: relative;
    right: -120px;
    box-shadow: 5px 5px #000,
    0 0 0 2px black;
    background-color: #09fe79;
    font-family: Michroma-Regular, sans-serif;
    margin-top: 5px;
}
#second_block {
    font-family: Michroma-Regular, sans-serif;
    background-color: #c5f7cd;
    min-height: 100vh;
    padding: 10vh 10em 10em 3em;
}
#second_block h1 {
    text-shadow: 5px 0 1px #000, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
    font-family: Kavoon-Regular, sans-serif;
    color: #fec2e3;
    font-size: 50px;
    border: none;
    background-color: transparent;
}
#second_block h2 {
    font-family: Michroma-Regular, sans-serif;
    text-shadow: 5px 0 1px #000, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
    color: #fec2e3;
    font-size: 100px;
    border: none;
    background-color: transparent;
}
#start_button {
    cursor: url('../fonts/Cursor_15.cur'), auto;
    display: inline-block;
    margin: 10px 20px;
    padding: 15px 30px;
    overflow: hidden;
    border: 2px solid;
    border-bottom-width: 4px;
    font-family: "VT323-Regular", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: #2eaae0;
    background: rgb(255, 255, 255);
    transition: color 0.3s, background 0.5s;
    margin-top: 60px;
    
  }
  #start_button:hover {
    animation: stripes 0.75s infinite linear;
    background: linear-gradient(
      45deg,
      rgba(30, 255, 188, 1) 25%,
      rgba(255, 255, 255, 1) 25%,
      rgba(255, 255, 255, 1) 50%,
      rgba(30, 255, 188, 1) 50%,
      rgba(30, 255, 188, 1) 75%,
      rgba(255, 255, 255, 1) 75%,
      rgba(255, 255, 255, 1)
    );
    background-size: 10px 10px;
    color: #0913fe;
  }
  @keyframes stripes {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 50px 0;
    }
  }
.left_2 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 2em;
    flex: 1;
}
.left_2, .main_2 {
    margin-top: 3em;
}

.main_2 p {
    text-align: justify;
}
#second_block_img1 {
    background-image: url('../img/Group-96.png');
    background-repeat: no-repeat;
    background-size: contain;
}

#second_block_img2 {
    background-image: url('../img/Group-96.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#docpage {
    background-image: url('../img/pink.jpg');
    background-repeat: repeat;
    min-height: 100vh;
    padding: 10vh 0;
}

#doc_content {
    margin: 0 10em;
    padding: 1em;
    background-color: #f9f9f9;
}

#doc_content h3, h4 {
    margin-top: 1em;
}

#teampage {
    background-color: #f9f9f9;
    min-height: 100vh;
    padding: 10vh;
    text-align: center;
}

.member {
    display: flex;
    margin: 16px 0;
}

.container_image {
    width: 180px;
}

.container_feature_left {
    flex: 1;
    margin-left: 30px;
    word-spacing: 10px;
}

.container_feature_right {
    flex: 1;
    margin-right: 30px;
    letter-spacing: 4px;
}

#nav {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 2.5vh;
    z-index: 100;
}

#nav a {
    text-decoration: none;
    color: inherit;
}

#themechoose {
    background-color: #534c4d30;
}

.dropdown {
    cursor: url('../fonts/Cursor_15.cur'), auto;
    font-family: VT323-Regular, sans-serif;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fe098e;
    color: black;
}

.dropdown li {
    cursor: url('../fonts/Cursor_15.cur'), auto;
    padding: 8px;
    cursor: pointer;
    position: relative;
}

.dropdown ul {
    cursor: url('../fonts/Cursor_15.cur'), auto;
    background-color: #ffffff;
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    z-index: 100;
    color: black;
}

.dropdown ul ul {
    cursor: url('../fonts/Cursor_15.cur'), auto;
    left: 100%;
    position: absolute;
    top: 0;
}

.dropdown li:hover {
    cursor: url('../fonts/Cursor_15.cur'), auto;
    background-color: rgba(0, 0, 0, 0.1);
}

.dropdown li:hover > ul {
    cursor: url('../fonts/Cursor_15.cur'), auto;
    display: block;
}

footer #copyright {
    text-align: center;
    margin: 8px;
}

footer {
    padding: 8px;
}

#issues_footer {
    padding: 8px;
    background-color: #f9f9f9;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#top_issue1 {
    padding-top: 10vh;
    padding-bottom: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../img/90s.webp');
}

#top_issue1 h3 {
    box-shadow: 5px 5px #000,
    0 0 0 2px black;
    text-shadow: 5px 0 1px #000, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
    color: #fe098e;
    background-color: #fef209;
    font-family: Kavoon-Regular, sans-serif;
    margin: 20px;
}

#top_issue1 p {
    box-shadow: 5px 5px #000,
    0 0 0 2px black;
    background-color: #09fe7a;
    font-family: Michroma-Regular, sans-serif;
    margin: 5px;
}

.dropdown .explore {
    margin-left: auto;
    background-color: yellow;
    cursor: url('../fonts/Cursor_15.cur'), auto;
}

.articles_block {
    display: flex;
    overflow: hidden;
    border: 5px solid black;
    padding: 0px;
    margin: 0px;
}

.searchblock {
    overflow: auto;
}

.articles_block > div,
.searchblock > div {
    flex: 1;
}

.article {
    overflow: auto;
    padding: 5px;
    background-color: #F9F9F9;
    padding: 17px;
    text-align: justify;
}

blockquote {
    font-family: Staatliches-Regular, sans-serif;
    text-transform: uppercase;
    color: #000(220, 83, 33);
    background-color: rgba(249, 234, 71, 0.623);
    padding: 4;
    font-style: italic;
}
.citation_block_big {
    font-family: Staatliches-Regular, sans-serif;
    font-style: bold;
    text-decoration: underline;
    font-style: normal;
}
.citation_block_small {
    background-color: transparent;
    text-decoration: underline;
    text-decoration-color: #fe098e;  
    margin-top: 15px;
}

.article_desc {
    font-family: Staatliches-Regular, sans-serif;
    font-size: 150%;
    border: 4px solid #ff06d3;
    margin-bottom: 5px;
    padding: 5px;
    height: 4.3em;
    width: 17.6em;
    border-radius: 10px;
    background-color: #ffcbd6;
    color: #0090f8;
    text-transform: uppercase;
    text-align: justify;
}

figcaption {
    color: grey;
}

#readbetter_1,
#readbetter_2,
#readbetter_3 {
    cursor: url('../fonts/Cursor_15.cur'), auto;
    font-family: Staatliches-Regular, sans-serif;
    text-transform: uppercase;
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to bottom, #fff200, #ff0606);
    border:none;
}

.accordion-header{
    background-color: white;
    font-family: Staatliches-Regular, sans-serif;
    cursor: url('../fonts/Cursor_15.cur'), auto;

}
.accordion-body {
    padding: 0;
    display: flex;
    font-family: VT323-Regular, sans-serif;
    cursor: url('../fonts/Cursor_15.cur'), auto;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: #ffffff;
    text-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
    cursor: url('../fonts/Cursor_15.cur'), auto;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 0;
    cursor: url('../fonts/Cursor_15.cur'), auto;
}

.accordion-button {
    cursor: url('../fonts/Cursor_15.cur'), auto;
    color: rgb(5, 5, 5);
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    animation: rainbow-colors 2s linear infinite;
    animation-delay: calc(-2s * var(--char-percent));
      }
      @keyframes rainbow-colors {
        0% { color: hsl(0turn, 90%, 65%); }
        25% { color: hsl(.25turn, 90%, 65%); }
        50% { color: hsl(.5turn, 90%, 65%); }
        75% { color: hsl(.75turn, 90%, 65%); }
        100% { color: hsl(1turn, 90%, 65%); }
      }

.tab {
    cursor: url('../fonts/Cursor_15.cur'), auto;
    background-color: transparent;
    width: 30%;
}

.tab button {
    cursor: url('../fonts/Cursor_15.cur'), auto;
    display: block;
    background-color: rgba(235, 231, 231, 0.596);
    color: black;
    padding: 5px;
    width: 110%;
    border: 1px solid black;
    outline: none;
    text-align: left;
    transition: 0.3s;
}

.tab button:hover {
    cursor: url('../fonts/Cursor_15.cur'), auto;
    background-color: rgba(0, 0, 0, 0.489);
}

.tab button.active {
    cursor: url('../fonts/Cursor_15.cur'), auto;
    background-color: #ccc;
}

.tabcontent {
    cursor: url('../fonts/Cursor_15.cur'), auto;
    padding: 0px 12px;
    width: 70%;
    background-color: transparent;
    border-left: none;
    display: none;
}

#close-icon {
    cursor: url('../fonts/Cursor_15.cur'), auto;
    display: block;
    width: 20px;
    height: 20px;
    border-style: none;
    border-radius: 100%;
    background: -webkit-linear-gradient(
            -45deg,
            transparent 0%,
            transparent 46%,
            rgb(5, 5, 4) 46%,
            rgb(8, 8, 8) 56%,
            transparent 56%,
            transparent 100%
    ),
    -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, rgb(0, 0, 0) 46%, rgb(8, 8, 8)
            56%, transparent 56%, transparent 100%);
    background-color: transparent;
    transition: all 0.3s ease;
    margin-left: auto;
}
footer {
font-family: VT323-Regular, sans-serif;
}

#doc_content h1 {
    box-shadow: 5px 5px #000,
    0 0 0 2px black;
    text-shadow: 5px 0 1px #000, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
    color: #fe098e;
    background-color: #fef209;
    font-family: Kavoon-Regular, sans-serif; 
}
#doc_content h3 {
    font-family: Staatliches-Regular, sans-serif;
    text-transform: uppercase;
    background-color:#00cfb8;
    color:white;
    padding: 5px;
    text-align: justify;
    display: inline-block; 
}
#teampage h1{
    box-shadow: 5px 5px #000,
    0 0 0 2px black;
    text-shadow: 5px 0 1px #000, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
    color: #fe098e;
    background-color: #fef209;
    font-family: Kavoon-Regular, sans-serif;   
}
.nav_change {
    background-color: black;
}

.article_hidden {
    display: none;
}
.articles_block h3 {
        list-style: none; 
        text-indent: 0em;
        color: #0090f8;
        background-color:transparent; 
}
.articles_block h3::before {
        content: '\25c0'; 
        padding-right: 0px;
        color: #0090f8; 
}

.article.article_expand {
    flex: 3;
    padding: 1em 10em;
}